@import '_vars.scss';
@import '_global.scss';

html {
    box-sizing: border-box
}

.welcome__bg {
    height: 100vh;
    background-image: url(../img/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    object-fit: contain;
}

.font{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -4px; 
}
//img
.girl img {
    position: absolute;
    max-width: 1460px;
    height: 1460px;
    left: 60%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.back__fonts img{
    margin-left: 125px;
    width: 100%;
    height: 100vh;
}

.font__left img{
    width: 100%;
    height: 100vh;
}

.font__right img{
    width: 100%;
  height: 100vh;
}

.offer__text img {
    position: absolute;
    width: 100%;
    max-width: 900px;
    height: 350px;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
    background-size: contain;
    padding-bottom: 70px;
}

.logo img {
    max-width: 320px;
    position: absolute;
    top: 100px;
    left: 92px;
}
//button
.button {
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 400;
    position: absolute;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    font-weight: 600;
    font-size: 53px;
    line-height: 35px;
    color: #FFFFFF;
    background-color: #ebac14;
    border-radius: 15px;
    padding: 30px 35px;
    cursor: pointer;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
}

  @import '_media.scss' ;